= form_for @screening do |f|
  - if @screening.errors.any?
    #error_explanation
      %h2= "#{pluralize(@screening.errors.count, "error")} prohibited this screening from being saved:"
      %ul
        - @screening.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :screening_time
    = f.time_select :screening_time
  .field
    = f.label :screening_date
    = f.date_select :screening_date
  .field
    = f.label :arena
    = f.text_field :arena
  .field
    = f.label :available_seats
    = f.number_field :available_seats
  .actions
    = f.submit 'Save'
