%h1 Listing screenings

%table
  %thead
    %tr
      %th Price
      %th Screening time
      %th Screening date
      %th Arena
      %th Available seats
      %th
      %th
      %th

  %tbody
    - @screenings.each do |screening|
      %tr
        %td= screening.price
        %td= screening.screening_time
        %td= screening.screening_date
        %td= screening.arena
        %td= screening.available_seats
        %td= link_to 'Show', screening
        %td= link_to 'Edit', edit_screening_path(screening)
        %td= link_to 'Destroy', screening, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Screening', new_screening_path
