%br
.container{:id => "screenings_container"}
  %h1{:id => "screenig_index_header"}= "#{t('.screenings_for', date: @date.strftime(t('date_format_2')))}"
  %hr
  -@screenings.each do |movie, screenings|
    %br
    .row
      .col-xs-4.col-sm-3
        %img{:class => "screening_index_images img-responsive", :src => "#{movie.poster}", :alt => "#{movie.title} #{t('movies.errors.image_missing')}"}
      .col-xs-7
        %h3= "#{movie.title}"
        %p
          %b= "#{t('movies.attributes.director')}#{t('colon')}"
          = movie.director
        %p
          %b
            = "#{t('movies.attributes.actors')}#{t('colon')}"
          = movie.actors
        %p
          %b
            = "#{t('movies.attributes.genres')}#{t('colon')}"
          = movie.genre
        %p
          %b
            = "#{t('movies.attributes.duration')}#{t('colon')}"
          = "#{t('minute', duration: movie.duration)}"
    %br
    %hr
    .row.justify-content-start
      -screenings.each do |screening|
        .col-xs-2
          = button_to screening.screening_time.strftime("%H:%M"), line_items_path(screening_id: screening), data: { confirm: "#{t('.add_cart_confirm')}" }, class: "screening_button_times"
          %p{:class => "text_screening_type"}
            %b= screening.screening_type
            = t('vertical_line')
            = t('pound', price: screening.price)
    %hr
    %br
