-# #aBtnGroup.btn-group
-#   - @dates_week.each do |date|
-#     %button.btn.btn-default{:id => "#{date.strftime("%d/%m")}", :type => "button", :value => "#{date.strftime("%d/%m")}"}= date.strftime("%d/%m")

%br
.container{:id => "screenings_container"}
  %h1{:id => "screenig_index_header"}= "#{t('.screening_for')} #{@date.strftime(t('date_format_2'))}"
  %hr
  -@screenings.each do |movie, screenings|
    %br
    .row
      .col-xs-4.col-sm-3
        %img{:class => "screening_index_images", :src => "#{movie.poster}", :alt => "#{movie.title} #{t('.poster_unavailable')}"}
      .col-xs-7
        %h3= "#{movie.title}"
        %p
          %b= t('.director')
          = movie.director
        %p
          %b
            = t('.actors')
          = movie.actors
        %p
          %b
            = t('.genres')
          = movie.genre
        %p
          %b
            = t('.duration')
          = "#{movie.duration} #{t('.minute')}"
    %br
    %hr
    .row.justify-content-start
      -screenings.each do |screening|
        .col-xs-2
          = button_to screening.screening_time.strftime("#{t('.time_format_1')}"), line_items_path(screening_id: screening), data: { confirm: "#{t('.add_cart_confirm')}" }, class: "screening_button_times"
          %p{:class => "text_screening_type"}
            %b= screening.screening_type
            = t('vertical_line')
            = t('pound')
            = screening.price
    %hr
    %br
