%p#notice= notice

%p
  %b Price:
  = @screening.price
%p
  %b Screening time:
  = @screening.screening_time
%p
  %b Arena:
  = @screening.arena
%p
  %b Available seats:
  = @screening.available_seats

= link_to t('edit_button'), edit_screening_path(@screening)
\|
= link_to t('back_button'), '/allresources'
