%p#notice= notice

%p
  %b Num seats:
  = @screening.num_seats
%p
  %b Num sold:
  = @screening.num_sold
%p
  %b Screening date:
  = @screening.screening_date
%p
  %b Screening time:
  = @screening.screening_time
%p
  %b Arena:
  = @screening.arena
%p
  %b Price:
  = @screening.price

= link_to 'Edit', edit_screening_path(@screening)
\|
= link_to 'Back', screenings_path
