%p#notice= notice

%p
  %b Price:
  = @screening.price
%p
  %b Screening time:
  = @screening.screening_time
%p
  %b Screening date:
  = @screening.screening_date
%p
  %b Arena:
  = @screening.arena
%p
  %b Available seats:
  = @screening.available_seats

= link_to 'Edit', edit_screening_path(@screening)
\|
= link_to 'Back', screenings_path
