%h1 Listing movies

%table
  %thead
    %tr
      %th Title
      %th Director
      %th Genre
      %th Duration
      %th Country
      %th Release date
      %th Poster
      %th Summary
      %th
      %th
      %th

  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.director
        %td= movie.genre
        %td= movie.duration
        %td= movie.country
        %td= movie.release_date
        %td= movie.poster
        %td= movie.summary
        %td= link_to 'Show', movie
        %td= link_to 'Edit', edit_movie_path(movie)
        %td= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Movie', new_movie_path
