#movie_container_show
  %hr
  -if @movie.video != ""
    .container{:id => "trailer_container"}
      %iframe{:allow => "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :src => "#{@movie.video}"}
  .container
    .row
      .Header.col-sm-11
        %h2= @movie.title
    .row
      .col-sm-7
        .row.justify-content-around
          .col-6
            %p
              %b= t('.release_date')
            %p= @movie.release_date.strftime("%d/%m/%Y")
          .col-6
            %p
              %b= t('.duration')
            %p= @movie.duration
        %br
        %p{:id => "movie_summary_show"}= @movie.summary
        %br
        %table.table{:id => "movie_table_show"}
          %tbody
            %tr
              %td{:scope => "row", :class => "movie_res_table_cell_first_col"}= t('.title')
              %td{:scope => "row", :class => "movie_res_table_cell_second_col"}= @movie.title
            %tr
              %td{:scope => "row", :class => "movie_res_table_cell_first_col"}= t('.director')
              %td{:scope => "row", :class => "movie_res_table_cell_second_col"}= @movie.director
            %tr
              %td{:scope => "row", :class => "movie_res_table_cell_first_col"}= t('.genres')
              %td{:scope => "row", :class => "movie_res_table_cell_second_col"}= @movie.genre
            %tr
              %td{:scope => "row", :class => "movie_res_table_cell_first_col"}= t('.country')
              %td{:scope => "row", :class => "movie_res_table_cell_second_col"}= @movie.country
            %tr
              %td{:scope => "row", :class => "movie_res_table_cell_first_col"}= t('.actors')
              %td{:scope => "row", :class => "movie_res_table_cell_second_col"}= @movie.actors
            %tr
              %td{:scope => "row", :class => "movie_res_table_cell_first_col"}= t('.restrictions')
              %td{:scope => "row", :class => "movie_res_table_cell_second_col"}= @movie.restrictions

      .col-sm-4
        %img{'src'=>@movie.poster, 'alt'=>@movie.title, id:"poster_image"}
