#movie_container_show
  %hr
  -if @movie.video != ""
    .container{:id => "trailer_container"}
      %iframe{:allow => "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :src => "#{@movie.video}"}
  .container
    .row
      .Header.col-sm-11
        %h2= @movie.title
    .row
      .col-sm-7
        .row.justify-content-around
          .col-6
            %p
              %b= "#{t('movies.attributes.release_date')} #{t('colon')}"
            %p= @movie.release_date.strftime("%d/%m/%Y")
          .col-6
            %p
              %b= "#{t('movies.attributes.duration')} #{t('colon')}"
            %p= @movie.duration
        %br
        %p{:id => "movie_summary_show"}= @movie.summary
        %br
        %table.table{:id => "movie_table_show"}
          %tbody
            %tr
              %td{:scope => "row", :class => "movie_res_table_cell_first_col"}= "#{t('movies.attributes.title')} #{t('colon')}"
              %td{:scope => "row", :class => "movie_res_table_cell_second_col"}= @movie.title
            %tr
              %td{:scope => "row", :class => "movie_res_table_cell_first_col"}= "#{t('movies.attributes.director')} #{t('colon')}"
              %td{:scope => "row", :class => "movie_res_table_cell_second_col"}= @movie.director
            %tr
              %td{:scope => "row", :class => "movie_res_table_cell_first_col"}= "#{t('movies.attributes.genres')} #{t('colon')}"
              %td{:scope => "row", :class => "movie_res_table_cell_second_col"}= @movie.genre
            %tr
              %td{:scope => "row", :class => "movie_res_table_cell_first_col"}= "#{t('movies.attributes.country')} #{t('colon')}"
              %td{:scope => "row", :class => "movie_res_table_cell_second_col"}= @movie.country
            %tr
              %td{:scope => "row", :class => "movie_res_table_cell_first_col"}= "#{t('movies.attributes.actors')} #{t('colon')}"
              %td{:scope => "row", :class => "movie_res_table_cell_second_col"}= @movie.actors
            %tr
              %td{:scope => "row", :class => "movie_res_table_cell_first_col"}= "#{t('.age')} #{t('movies.attributes.restrictions')} #{t('colon')}"
              %td{:scope => "row", :class => "movie_res_table_cell_second_col"}= @movie.restrictions

      .col-sm-4
        %img{'src'=>@movie.poster, 'alt'=>@movie.title, id:"poster_image", class: "img-responsive"}
