%p#notice= notice

#movie_title_container
  %h2= @movie.title

.grid-container
  .movies_poster_container
    %img{'src'=>@movie.poster, 'alt'=>@movie.title, id:"poster_image"}
  .movies_information_container
    %p
      %b Director:
      = @movie.director
    %p
      %b Genre:
      = @movie.genre
    %p
      %b Duration:
      = @movie.duration

    %p
      %b Country:
      = @movie.country

    %p
      %b Release date:
      = @movie.release_date

    %p
      %b Summary:
    %p
      = @movie.summary
