%p#notice= notice

#movie_container_show
  %hr
  %iframe{:height => "345", :src => "https://www.youtube.com/watch?v=jG1X67vnYM0", :width => "420"}
  .container
    .row
      .Header.col-sm-11
        %h2= @movie.title
    .row
      .col-sm-7
        .row.justify-content-around
          .col-6
            %p
              %b= "Release Date:"
            %p= @movie.release_date
          .col-6
            %p
              %b= "Duration:"
            %p= @movie.duration
        %br
        %p{:id => "movie_summary_show"}= @movie.summary
        %br
        %table.table{:id => "movie_table_show"}
          %tbody
            %tr
              %td{:scope => "row", :class => "movie_res_table_cell_first_col"}= "Title:"
              %td{:scope => "row", :class => "movie_res_table_cell"}= @movie.title
            %tr
              %td{:scope => "row", :class => "movie_res_table_cell_first_col"}= "Director:"
              %td{:scope => "row", :class => "movie_res_table_cell"}= @movie.director
            %tr
              %td{:scope => "row", :class => "movie_res_table_cell_first_col"}= "Genres:"
              %td{:scope => "row", :class => "movie_res_table_cell"}= @movie.genre
            %tr
              %td{:scope => "row", :class => "movie_res_table_cell_first_col"}= "Country:"
              %td{:scope => "row", :class => "movie_res_table_cell"}= @movie.country
            %tr
              %td{:scope => "row", :class => "movie_res_table_cell_first_col"}= "Actors:"
              %td{:scope => "row", :class => "movie_res_table_cell"}= @movie.actors
            %tr
              %td{:scope => "row", :class => "movie_res_table_cell_first_col"}= "Age restrictions:"
              %td{:scope => "row", :class => "movie_res_table_cell"}= @movie.restrictions

      .col-sm-4
        %img{'src'=>@movie.poster, 'alt'=>@movie.title, id:"poster_image"}

#movie_title_container
  %h2= @movie.title

.grid-container
  .movies_poster_container
    //%img{'src'=>@movie.poster, 'alt'=>@movie.title, id:"poster_image"}
  .movies_information_container
    %p
      %b Director:
      = @movie.director
    %p
      %b Genre:
      = @movie.genre
    %p
      %b Duration:
      = @movie.duration

    %p
      %b Country:
      = @movie.country

    %p
      %b Release date:
      = @movie.release_date

    %p
      %b Summary:
    %p
      = @movie.summary
