%h1 Listing bookings

%table
  %thead
    %tr
      %th User
      %th Movie title
      %th Booked date
      %th Booke time
      %th Quantity
      %th Cinema
      %th Arena
      %th Total price
      %th
      %th
      %th

  %tbody
    - @bookings.each do |booking|
      %tr
        %td= booking.user
        %td= booking.movie_title
        %td= booking.booked_date
        %td= booking.booke_time
        %td= booking.quantity
        %td= booking.cinema
        %td= booking.arena
        %td= booking.total_price
        %td= link_to 'Show', booking
        %td= link_to 'Edit', edit_booking_path(booking)
        %td= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Booking', new_booking_path
