%h1 Listing bookings


- if @bookings.length > 0
  %section{:class=>'section'}
    .container
      %hr
      - @bookings.each do |booking|
        .row
          .col-xs-3.col-sm-2.table-quantity-booking
            %p= booking.quantity
          .col-xs-9.col-sm-10.col-mid-9
            %h4
              = booking.movie_title
            %p
              = booking.cinema + " in Arena: " + booking.arena
            %p
              = booking.booked_date
              = " => "
              = booking.booked_time
            %p
              %b
                = "Price: "
              = number_to_currency(booking.total_price)
        .container
          = link_to "Remove Booking", booking, method: :delete, data: {cofirm: "Are you sure?"}
        %hr

- else
  %h3= "There are no bookings"
