%h1="#{t('actions.list')} #{t('bookings.name_p')}"

%h3= "#{t('bookings.name_p')} #{t('.history')}"
- if @bookings_history.length > 0
  %section{:class=>'section'}
    .container
      %hr
      - @bookings_history.each do |booking|
        .row
          .col-xs-3.col-sm-2.table-quantity-booking
            %p= booking.quantity
          .col-xs-9.col-sm-10.col-mid-9
            %h4
              = booking.movie_title
            %p
              = booking.cinema
              = "#{t('in')} #{t('screenings.attributes.arena')}"
              = booking.arena
            %p
              = booking.booked_date
              = t('arrow')
              = booking.booked_time
            %p
              %b
                = t('screenings.attributes.price')
              = number_to_currency(booking.total_price)
        %hr

- else
  %h4= "#{t('bookings.name_p')} #{t('are')} #{t('actions.empty')}"

%h3= "#{t('.upcoming')} #{t('bookings.name_p')}"
- if @bookings.length > 0
  %section{:class=>'section'}
    .container
      %hr
      - @bookings.each do |booking|
        .row
          .col-xs-3.col-sm-2.table-quantity-booking
            %p= booking.quantity
          .col-xs-9.col-sm-10.col-mid-9
            %h4
              = booking.movie_title
            %p
              = booking.cinema
              = "#{t('in')} #{t('screenings.attributes.arena')}"
              = booking.arena
            %p
              = booking.booked_date
              = t('arrow')
              = booking.booked_time
            %p
              %b
                = t('screenings.attributes.price')
              = number_to_currency(booking.total_price)
        .container
          = link_to t('actions.cancel'), booking, method: :delete, data: {cofirm: "#{t('destroy_confirm')}"}
        %hr

- else
  %h4= "#{t('bookings.name_p')} #{t('are')} #{t('actions.empty')}"
