%p#notice= notice

%p
  %b User:
  = @booking.user
%p
  %b Movie title:
  = @booking.movie_title
%p
  %b Booked date:
  = @booking.booked_date
%p
  %b Booke time:
  = @booking.booked_time
%p
  %b Quantity:
  = @booking.quantity
%p
  %b Cinema:
  = @booking.cinema
%p
  %b Arena:
  = @booking.arena
%p
  %b Total price:
  = @booking.total_price

= link_to 'Edit', edit_booking_path(@booking)
\|
= link_to 'Back', bookings_path
