
%h1= t('.title')
%p= t('.welcome')

.jumbotron.text-center
  %h1= "My first Bootstrap Page"
  %p= "Resize this responsive page to see the effect!"

.container
  .row
    .col-sm-4
      %h3= 'Column 1'
      %p= 'Lorem ipsum dolor..'
    .col-sm-4
      %h3= 'Column 2'
      %p= 'Lorem ipsum dolor..'
    .col-sm-4
      %h3= 'Column 3'
      %p= 'Lorem ipsum dolor..'
