#main
  #currentMovies
    %h2{id: "currently_playing"}= t('.currently_playing')

    #movies
      %p
      :ruby
        movies = {}
        @movies.each do |movie|
          movies[movie['title']] = movie['release_date']
        end
        movies.sort_by {|k,v| v}.reverse
        counter = 0
        movies.each do |movie,date|
          if counter == 0
             @movie1 = movie
           elsif counter == 1
             @movie2 = movie
           elsif counter == 2
             @movie3 = movie
           end
           counter = counter + 1
        end
      %h4
        #{@movie1}
      %h4
        #{@movie2}
      %h4
        #{@movie3}







  %h2{id: "news", onclick:"ToggleText(this)"} News
  %p{id: "newsp"} Some text about news

  %br



  %br
  %table
    %thead
      %tr
        %th Title
        %th Director
        %th Genre
        %th Duration
        %th Country
        %th Release date
        %th Poster
        %th Summary
    %tbody
      %tr
        %td Title
        %td Director
        %td Genre
        %td Duration
        %td Country
        %td Release date
        %td Poster
        %td Summary


  %br

  %h2{id: "um", onclick:"ToggleText(this)"} Upcoming Movies
  %p{id: "ump"} Some text about Upcoming Movies
  .container
    .row
      .col-sm-4
        %h3= 'Column 1'
        %p= 'Lorem ipsum dolor..'
      .col-sm-4
        %h3= 'Column 2'
        %p= 'Lorem ipsum dolor..'
      .col-sm-4
        %h3= 'Column 3'
        %p= 'Lorem ipsum dolor..'

  %br

  %h2{id: "tb", onclick:"ToggleText(this)"} Resource Table
  %p{id: "tbp"} Some text about my resource table

  %br

  %h2{id: "wf", onclick:"ToggleText(this)"} Web webform
  %p{id: "wfp"} Some text about my web form

  %br
//%input#smallb{onclick:"SetFontSize('80%')", type: "button", value: "Small"}
