#main
  %br
  .container
    %h2= t('.currently_screening')
    %br
    %br
    .row
      - @released_movies.each do |movie|
        .col-sm-3
          %a{:href => "movies/#{movie.id}", class: "poster_link"}
            %img{:src => "#{movie.poster}", :alt => "#{movie.title} #{t('.poster_unavailable')}", :class => "poster_home"}
          %h2
            %a{:href => "movies/#{movie.id}", :class => "title_links_upcoming"}= movie.title
        .col-sm-1
  %br

  .container
    %h2{id: "upcoming_mov"}= t('.upcoming_movies')
    %br
    %br
    .row
      - @upcoming_movies.each do |movie|
        .col-sm-3
          %a{:href => "movies/#{movie.id}"}
            %img{:src => "#{movie.poster}", :alt => "#{movie.title} #{t('.poster_unavailable')}", :class => "poster_home"}
          %h2
            %a{:href => "movies/#{movie.id}", :class => "title_links_upcoming"}= movie.title
        .col-sm-1

  %br
