#main
  %br
  .container
    %h2= "#{t('screenings.currently')} #{t('in')} #{t('cinemas.name_p')}"
    %br
    %br
    .row
      - @released_movies.each do |movie|
        .col-sm-3
          %a{:href => "movies/#{movie.id}", class: "poster_link"}
            %img{:src => "#{movie.poster}", :alt => "#{movie.title} #{t('movies.errors.image_missing')}", :class => "poster_home img-responsive"}
          %h2
            %a{:href => "movies/#{movie.id}", :class => "title_links_upcoming"}= movie.title
        .col-sm-1
  %br

  .container
    %h2{id: "upcoming_mov"}= "#{t('bookings.index.upcoming')} #{t('movies.name_p')}"
    %br
    %br
    .row
      - @upcoming_movies.each do |movie|
        .col-sm-3
          %a{:href => "movies/#{movie.id}"}
            %img{:src => "#{movie.poster}", :alt => "#{movie.title} #{t('.movies.errors.image_missing')}", :class => "poster_home img-responsive"}
          %h2
            %a{:href => "movies/#{movie.id}", :class => "title_links_upcoming"}= movie.title
        .col-sm-1

  %br
