#main
  -# #currentMovies
  -#   .movies-container
  -#     #Div-1
  -#       .movie_info_container
  -#         %h2{class:"movie_title_current"}
  -#           #{@movie1.title}
  -#       .movie_info_container
  -#         %h4{class:"release_date_current"}
  -#           #{@movie1.release_date.strftime("%d/%m/%Y")}
  -#       .movie_info_container
  -#         %p{class:"movie_info_current"}
  -#           #{@movie1.genre + " · " + @movie1.director + " · " + @movie1.duration.to_s + " min"}
  -#     #Div-2
  -#       .movie_info_container
  -#         %h2{class:"movie_title_current"}
  -#           #{@movie2.title}
  -#       .movie_info_container
  -#         %h4{class:"release_date_current"}
  -#           #{@movie2.release_date.strftime("%d/%m/%Y")}
  -#       .movie_info_container
  -#         %p{class:"movie_info_current"}
  -#           #{@movie2.genre + " · " + @movie2.director + " · " + @movie2.duration.to_s + " min"}
  -#     #Div-3
  -#       .movie_info_container
  -#         %h2{class:"movie_title_current"}
  -#           #{@movie3.title}
  -#       .movie_info_container
  -#         %h4{class:"release_date_current"}
  -#           #{@movie3.release_date.strftime("%d/%m/%Y")}
  -#       .movie_info_container
  -#         %p{class:"movie_info_current"}
  -#           #{@movie3.genre + " · " + @movie3.director + " · " + @movie3.duration.to_s + " min"}

    #view_more
      %p{id:"view_more_link"}
        %a{:href=>'contact'}= t('.view_more_current')

  %br

  #cinemas_display
    %h2= t('.cinemas_title')
    .dropdown.show
      %a{class:"btn btn-secondary dropdown-toggle", href:"#", role:"button", id:"dropdownMoviesLink", "data-toggle"=>"dropdown", "aria-haspopup"=>"true", "aria-haspopup"=>"true"}
        =t('.movies_dropdown')

      .dropdown-menu{"aria-labelledby"=>"dropdownMenuLink"}
        - @movies.each do |movie|
          %a{class:"dropdown-item", href:"movies/#{movie.id}"} #{movie.title}

  %br

  %h2{id: "upcoming_mov"} Upcoming Movies
  %br
  %br
  .container
    .row
      - @upcoming_movies.each do |movie|
        .col-sm-4
          %a{:href => "movies/#{movie.id}"}
            %img{:src => "#{movie.poster}", :alt => "#{movie.title} poster currently unavailable"}
          %h2
            %a{:href => "movies/#{movie.id}", :class => "title_links_upcoming"}= movie.title

  %br
