#resources_div
  %h2= t('.header_movies')

  %br

  %table.table.table-hover{:id => "movie_res_table"}
    %thead
      %tr
        %th{:scope => "col"}= t('.table_header_poster')
        %th{:scope => "col"}= t('.table_header_title')
        %th{:scope => "col"}= t('.table_header_director')
        %th{:scope => "col"}= t('.table_header_genre')
        %th{:scope => "col"}= t('.table_header_duration')
        %th{:scope => "col"}= t('.table_header_country')
        %th{:scope => "col"}= t('.table_header_release_date')
        %th{:scope => "col"}= t('.table_header_actors')
        %th{:scope => "col"}= t('.table_header_restrictions')
        %th{:scope => "col", :id => "summary_column"}= t('.table_header_summary')
        %th{:scope => "col"}
    %tbody
      - @movies.each_with_index do |movie,i|
        %tr{:id => "movie_#{movie.id}"}
          %td{:scope => "row", :class => "movie_res_table_cell"}
            %a{:href => "movies/#{movie.id}"}
              %img{:src => "#{movie.poster}", :alt => "NaN", :class => "movie_poster_res_table"}
          %td{:scope => "row", :class => "movie_res_table_cell"}
            %a{:href => "movies/#{movie.id}", :class => "resource_table_links"}= movie.title
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.director
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.genre
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.duration
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.country
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.release_date
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.actors
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.restrictions
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.summary
          %td{:scope => "row", :class => "movie_res_table_cell", :id => "movie_res_table_cell_links"}
            = link_to t('edit_button'), edit_movie_path(movie)
            %br
            = link_to t('destroy_button'), movie, method: :delete, data: { confirm: t('destroy_confirm') }, remote: true


  %br

  = link_to t('.new_movie'), new_movie_path

  %br
  %br

  %h2= t('.header_screenings')

  %br

  %table.table.table-hover
    %thead
      %tr
        %th{:scope => "col"}= t('.table_header_movie')
        %th{:scope => "col"}= t('.table_header_price')
        %th{:scope => "col"}= t('.table_header_screening_time')
        %th{:scope => "col"}= t('.table_header_screening_date')
        %th{:scope => "col"}= t('.table_header_cinema')
        %th{:scope => "col"}= t('.table_header_arena')
        %th{:scope => "col"}= t('.table_header_available_seats')
        %th{:scope => "col"}= t('.table_hedear_sold_seats')
        %th{:scope => "col"}= t('.table_header_type')
        %th{:scope => "col"}
        %th{:scope => "col"}
        %th{:scope => "col"}
    %tbody
      - @screenings.each do |screening|
        %tr{:id => "screening_#{screening.id}"}
          %td{:scope => "row"}= screening.movie.title
          %td{:scope => "row"}= screening.price
          %td{:scope => "row"}= screening.screening_time.strftime("%H:%M")
          %td{:scope => "row"}= screening.screening_date.strftime("%d/%m/%Y")
          %td{:scope => "row"}= screening.cinema
          %td{:scope => "row"}= screening.arena
          %td{:scope => "row"}= screening.available_seats
          %td{:scope => "row"}= screening.sold_seats
          %td{:scope => "row"}= screening.screening_type
          %td{:scope => "row"}= link_to t('show_button'), screening
          %td{:scope => "row"}= link_to t('edit_button'), edit_screening_path(screening)
          %td{:scope => "row"}= link_to t('destroy_button'), screening, method: :delete, data: { confirm: t('destroy_confirm') }, remote: true
  %br

  = link_to t('.new_screening'), new_screening_path

  %br
  %br

  %h2= t('.header_cinemas')

  %table.table.table-hover{:id => "cinema_res_table"}
    %thead
      %tr
        %th{:scope => "col"}= t('.table_header_cinema_name')
        %th{:scope => "col"}= t('.table_header_address')
        %th{:scope => "col"}= t('.table_header_image')
        %th{:scope => "col"}
        %th{:scope => "col"}
        %th{:scope => "col"}

    %tbody
      - @cinemas.each do |cinema|
        %tr{:id => "cinema_#{cinema.id}"}
          %td{:scope => "row"}= cinema.name
          %td{:scope => "row"}= cinema.address
          %td{:scope => "row"}= cinema.image
          %td{:scope => "row"}= link_to t('show_button'), cinema
          %td{:scope => "row"}= link_to t('edit_button'), edit_cinema_path(cinema)
          %td{:scope => "row"}= link_to t('destroy_button'), cinema, method: :delete, :data => { confirm: t('destroy_confirm')}, remote: true

  %br

  = link_to t('.new_cinema'), new_cinema_path
