#resources_div
  %h2= t('movies.name_p')
  %br
  %table{:id => "movie_res_table", :class => "table table-striped table-sm table-hover"}
    %thead
      %tr
        %th{:scope => "col"}= t('movies.attributes.poster')
        %th{:scope => "col"}= t('movies.attributes.title')
        %th{:scope => "col"}= t('movies.attributes.director')
        %th{:scope => "col"}= t('movies.attributes.genres')
        %th{:scope => "col"}= t('movies.attributes.duration')
        %th{:scope => "col"}= t('movies.attributes.country')
        %th{:scope => "col"}= t('movies.attributes.release_date')
        %th{:scope => "col"}= t('movies.attributes.actors')
        %th{:scope => "col"}= t('movies.attributes.restrictions')
        %th{:scope => "col", :id => "summary_column"}= t('movies.attributes.summary')
        %th{:scope => "col"}
    %tbody
      - @movies.each_with_index do |movie,i|
        %tr{:id => "movie_#{movie.id}"}
          %td{:scope => "row", :class => "movie_res_table_cell"}
            %a{:href => "movies/#{movie.id}"}
              %img{:src => "#{movie.poster}", :alt => "NaN", :class => "movie_poster_res_table "}
          %td{:scope => "row", :class => "movie_res_table_cell"}
            %a{:href => "movies/#{movie.id}", :class => "resource_table_links"}= movie.title
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.director
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.genre
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.duration
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.country
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.release_date
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.actors
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.restrictions
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.summary
          %td{:scope => "row", :class => "movie_res_table_cell", :id => "movie_res_table_cell_links"}
            = link_to t('edit_button'), edit_movie_path(movie)
            %br
            = link_to t('destroy_button'), movie, method: :delete, data: { confirm: t('destroy_confirm') }, remote: true

  %br

  = link_to "#{t('actions.new')} #{t('movies.name')}", new_movie_path

  %br
  %br

  %h2= t('screenings.name_p')

  %br

  %table{:class => "table table-striped table-sm table-hover"}
    %thead
      %tr
        %th{:scope => "col"}= t('movies.name')
        %th{:scope => "col"}= t('screenings.attributes.price')
        %th{:scope => "col"}= t('screening.attributes.screening_time')
        %th{:scope => "col"}= t('screening.attributes.screening_date')
        %th{:scope => "col"}= t('cinemas.name')
        %th{:scope => "col"}= t('screenings.attributes.arena')
        %th{:scope => "col"}= "#{t('screenings.attributes.available')} #{t('screenings.attributes.seats')}"
        %th{:scope => "col"}= "#{t('screenings.attributes.sold')} #{t('screenings.attributes.seats')}"
        %th{:scope => "col"}= t('screenings.attributes.type')
        %th{:scope => "col"}
        %th{:scope => "col"}
        %th{:scope => "col"}
    %tbody
      - @screenings.each do |screening|
        %tr{:id => "screening_#{screening.id}"}
          %td{:scope => "row"}= screening.movie.title
          %td{:scope => "row"}= screening.price
          %td{:scope => "row"}= screening.screening_time.strftime("%H:%M")
          %td{:scope => "row"}= screening.screening_date.strftime("%d/%m/%Y")
          %td{:scope => "row"}= screening.cinema
          %td{:scope => "row"}= screening.arena
          %td{:scope => "row"}= screening.available_seats
          %td{:scope => "row"}= screening.sold_seats
          %td{:scope => "row"}= screening.screening_type
          %td{:scope => "row"}= link_to t('show_button'), screening
          %td{:scope => "row"}= link_to t('edit_button'), edit_screening_path(screening)
          %td{:scope => "row"}= link_to t('destroy_button'), screening, method: :delete, data: { confirm: t('destroy_confirm') }, remote: true
  %br

  = link_to "#{t('actions.new')} #{t('screenings.name')}", new_screening_path

  %br
  %br

  %h2= t('cinemas.name_p')

  %table{:id => "cinema_res_table", :class => "table table-striped table-sm table-hover"}
    %thead
      %tr
        %th{:scope => "col"}= t('cinemas.attributes.name')
        %th{:scope => "col"}= t('cinemas.attributes.address')
        %th{:scope => "col"}= t('cinemas.attributes.image')
        %th{:scope => "col"}
        %th{:scope => "col"}
        %th{:scope => "col"}

    %tbody
      - @cinemas.each do |cinema|
        %tr{:id => "cinema_#{cinema.id}"}
          %td{:scope => "row"}= cinema.name
          %td{:scope => "row"}= cinema.address
          %td{:scope => "row"}= cinema.image
          %td{:scope => "row"}= link_to t('show_button'), cinema
          %td{:scope => "row"}= link_to t('edit_button'), edit_cinema_path(cinema)
          %td{:scope => "row"}= link_to t('destroy_button'), cinema, method: :delete, :data => { confirm: t('destroy_confirm')}, remote: true

  %br

  = link_to "#{t('actions.new')} #{t('cinemas.name')}", new_cinema_path

  %br
  %br

  %h2= t('bookings.name_p')

  %table{:id => "cinema_res_table", :class => "table table-striped table-sm table-hover"}
    %thead
      %tr
        %th{:scope => "col"}= t('bookings.attributes.user')
        %th{:scope => "col"}= t('movies.name')
        %th{:scope => "col"}= t('screenings.attributes.screening_time')
        %th{:scope => "col"}= t('screenings.attributes.screening_time')
        %th{:scope => "col"}= t('bookings.attributes.quantity')

    %tbody
      - @bookings.each do |booking|
        %tr
          %td{:scope => "row"}= User.find_by(id: booking.user_id).email
          %td{:scope => "row"}= booking.movie_title
          %td{:scope => "row"}= booking.booked_time
          %td{:scope => "row"}= booking.booked_date
          %td{:scope => "row"}= booking.quantity


  %br

  = link_to "#{t('actions.new')} #{t('bookings.name')}", new_cinema_path
