#resources_div
  %h2 Movies

  %br

  %table.table.table-hover{:id => "movie_res_table"}
    %thead
      %tr
        %th{:scope => "col"} Poster
        %th{:scope => "col"} Title
        %th{:scope => "col"} Director
        %th{:scope => "col"} Genre
        %th{:scope => "col"} Duration
        %th{:scope => "col"} Country
        %th{:scope => "col"} Release Date
        %th{:scope => "col"} Actors
        %th{:scope => "col"} Restrict
        %th{:scope => "col", :id => "summary_column"} Summary
        %th{:scope => "col"}
    %tbody
      - @movies.each_with_index do |movie,i|
        %tr
          %td{:scope => "row", :class => "movie_res_table_cell"}
            %a{:href => "movies/#{movie.id}"}
              %img{:src => "#{movie.poster}", :alt => "NaN", :class => "movie_poster_res_table"}
          %td{:scope => "row", :class => "movie_res_table_cell"}
            %a{:href => "movies/#{movie.id}", :class => "resource_table_links"}= movie.title
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.director
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.genre
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.duration
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.country
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.release_date
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.actors
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.restrictions
          %td{:scope => "row", :class => "movie_res_table_cell"}= movie.summary
          %td{:scope => "row", :class => "movie_res_table_cell", :id => "movie_res_table_cell_links"}
            = link_to 'Edit', edit_movie_path(movie)
            %br
            = link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' }


  %br

  = link_to 'New Movie', new_movie_path

  %br
  %br

  %h2 Screenings

  %br

  %table.table.table-hover
    %thead
      %tr
        %th{:scope => "col"} Movie
        %th{:scope => "col"} Price
        %th{:scope => "col"} Screening Time
        %th{:scope => "col"} Screening Date
        %th{:scope => "col"} Cinema
        %th{:scope => "col"} Arena
        %th{:scope => "col"} Available Seats
        %th{:scope => "col"} Sold Seats
        %th{:scope => "col"} Type
        %th{:scope => "col"}
        %th{:scope => "col"}
        %th{:scope => "col"}
    %tbody
      - @screenings.each do |screening|
        %tr
          %td{:scope => "row"}= screening.movie.title
          %td{:scope => "row"}= screening.price
          %td{:scope => "row"}= screening.screening_time.strftime("%H:%M")
          %td{:scope => "row"}= screening.screening_date.strftime("%d/%m/%Y")
          %td{:scope => "row"}= screening.cinema
          %td{:scope => "row"}= screening.arena
          %td{:scope => "row"}= screening.available_seats
          %td{:scope => "row"}= screening.sold_seats
          %td{:scope => "row"}= screening.types
          %td{:scope => "row"}= link_to 'Show', screening
          %td{:scope => "row"}= link_to 'Edit', edit_screening_path(screening)
          %td{:scope => "row"}= link_to 'Destroy', screening, method: :delete, data: { confirm: 'Are you sure?' }
  %br

  = link_to 'New Screening', new_screening_path

  %br
  %br

  %h2 Cinemas

  %table.table.table-hover{:id => "cinema_res_table"}
    %thead
      %tr
        %th{:scope => "col"} Name
        %th{:scope => "col"} Address
        %th{:scope => "col"}
        %th{:scope => "col"}
        %th{:scope => "col"}

    %tbody
      - @cinemas.each do |cinema|
        %tr
          %td{:scope => "row"}= cinema.name
          %td{:scope => "row"}= cinema.address
          %td{:scope => "row"}= link_to 'Show', cinema
          %td{:scope => "row"}= link_to 'Edit', edit_cinema_path(cinema)
          %td{:scope => "row"}= link_to 'Destroy', cinema, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New Cinema', new_cinema_path
