%br
.keep-shopping.pv1.mt4.has-text-right
  = link_to "#{t('.other')} #{t('screenings.name_p')}", '/booking'

%br

%section{:class=>'section'}
  .container
    %hr
    - @cart.line_items.each do |item|
      .row{id:"item_#{item.id}"}
        .col-xs-3.col-sm-2.table-quantity-cart
          %p= item.quantity
        .col-xs-9.col-sm-10.col-mid-9
          %h4
            = item.screening.movie.title
            = t('open_parantheses') + item.screening.screening_type + t('close_parantheses')
          %p
            = item.screening.screening_date.strftime(t('date_format_1'))
            = t('arrow')
            = item.screening.screening_time.strftime(t('time_format_1'))
          %p
            %b
              = "#{t('screenings.attributes.price')}#{t('colon')}"
            = number_to_currency(item.total_price)
          %p
            = "#{t('screenings.attributes.arena')}#{t('colon')}"
            = item.screening.arena
      .container{id:"item_#{item.id}_remove"}
        = link_to "#{t('.remove')}", item, method: :delete, data: {cofirm: "#{t('destroy_confirm')}"}, remote: true
      %hr


  .container
    .row
      = button_to "#{t('bookings.name_v')}", {:controller => "carts", :action => "create_booking", :cart => {"cart_id" => @cart}, :cart_id=> session[:cart_id]} , data: {confirm: "#{t('.confirm_book')}"}, :method=>:post
      = button_to "#{t('actions.empty')} #{t('carts.name')}", @cart, method: :delete, data: { confirm: "#{t('destroy_confirm')}"}
    .row.total.has-text-right
      %h4
        %span
        = "#{t('.total')}#{t('colon')}"
        = number_to_currency(@cart.total_price)
        = t('vertical_line')
        = "#{t('bookings.attributes.quantity')}#{t('colon')}"
        = @cart.total_quantity
