
%p= "#{t('home.contact_mailer.contact_email.dear')} #{t('app_title')}#{t('comma')}"
%p= t('home.contact_mailer.contact_email.in_touch_message')

%table
  %thead
    %tr
      %th{:scope => "col"}= "#{t('contact.name')}#{t('colon')}"
      %th
      %th{:scope => "col"}= "#{t('contact.email')}#{t('colon')}"
      %th
      %th{:scope => "col"}= "#{t('contact.telephone')}#{t('colon')}"
  %tbody
    %tr
      %td{:scope => "row"}
        %b= @name
      %td
      %td{:scope => "row"}
        %b= @email
      %td
      %td{:scope => "row"}
        %b= @telephone

%br

%em=@message

%p= t('.regards')
%p
  %b= @name
