
%p= "#{t('.dear')} #{t('app_title')}#{t('comma')}"
%p= t('.in_touch_message')

%dl
  %dt= "#{t('contact.name')}#{t('colon')}"
  %dd= @name
  %dt= "#{t('contact.email')}#{t('colon')}"
  %dd= @email
  %dt= "#{t('contact.telephone')}#{t('colon')}"
  %dd= @telephone

%p= @message

%p= t('.thanks')
%p= @name
