%div{:style => "width:600px;"}

  %div{:style => "width:600px; height:88px; background-color: black;"}
    %h2{:style => "color:white; padding-top: 28px; padding-left: 208px;"}= "Cinema Town"

  %div{:style => "padding-left: 15px;"}
    %br
    %table
      %tr
        %td= "#{t('contact.name')}#{t('colon')}"
        %td
          %b= @name
      %tr
        %td= "#{t('contact.email')}#{t('colon')}"
        %td
          %b= @email
      %tr
        %td= "#{t('contact.telephone')}#{t('colon')}"
        %td
          %b= @telephone

    %p= "#{t('home.contact_mailer.contact_email.dear')} #{t('app_title')}#{t('comma')}"
    %p= t('home.contact_mailer.contact_email.in_touch_message')

    %em=@message

    %p= t('.regards')
    %p
      %b= @name
