= form_for @cinema do |f|
  - if @cinema.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cinema.errors.count, t('error_lower'))} #{t('prohibited_p1')} #{t('cinemas.name_l')} #{t('prohibited_p2')}#{t('colon')}"
      %ul
        - @cinema.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :image
    = f.text_field :image
  .actions
    = f.submit t('save_button')
