%h1 Listing cinemas

%table
  %thead
    %tr
      %th Name
      %th Address
      %th
      %th
      %th

  %tbody
    - @cinemas.each do |cinema|
      %tr
        %td= cinema.name
        %td= cinema.address
        %td= link_to 'Show', cinema
        %td= link_to 'Edit', edit_cinema_path(cinema)
        %td= link_to 'Destroy', cinema, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Cinema', new_cinema_path
